= form_for visit do |f|
  .row
    .col.s12.m6.input-field
      = f.label :department_id, class:'active'
      = f.collection_select :department_id, Department.all, :id,:name

    .col.s12.m6.input-field
      = f.label :institution
      = f.text_field :institution, required:true, autocomplete:"off", class:'autocomplete'
  .section
    .row
      .input-field.col.s12.m3
        = f.label :resp_name
        = f.text_field :resp_name, required:true
      .input-field.col.s12.m3
        = f.label :resp_phone
        = f.text_field :resp_phone, required:true
      .input-field.col.s12.m3
        = f.label :resp_email
        = f.text_field :resp_email, type:'email', required:true
      .input-field.col.s12.m3
        = f.label :career
        = f.text_field :career, required:true
  .section
    .row
      .col.s12.m3
        = f.label :transport_type
        = f.select :transport_type, Visit::TRANSPORT_TYPES.invert
      .col.s12.m3
        = f.label :date, 'Fecha'
        = f.text_field :date ,class: "datepicker", placeholder:'Selecciona la fecha de la visita', required:true
      .col.s12.m3
        = f.label :visit_type
        = f.select :visit_type, Visit::VISIT_TYPES.invert
      .col.s12.m3
        = f.label :status
        = f.select :status, Visit::STATUS.invert

  .section
    .row
      .col.s12
        =f.label :reason
        =f.text_area :reason, class:'materialize-textarea', placeholder:'Aquí puede especificar detalladamente los motivos y requerimientos de su visita'

  .section
    .row
      .col.s12
        .right
          -if screen == 'edit'
            %a.btn.btn-large.red{href:"/visits/#{visit.id}", 'data-method': 'delete', data: { confirm: '¿Deseas eliminar la visita?' }}
              Eliminar
          =f.submit 'Guardar', class:'btn btn-large purple'
:javascript
   $(document).ready(function(){
    $('select').material_select();
    $.ajax({
      url: "/get_institutions",
      cache: true,
      success: function(data){
        $('input.autocomplete').autocomplete({
          data: data,
          onAutocomplete: function(val) {
            //autoCompleteEmail(val);
          },
           limit: 10 // The max amount of results that can be shown at once. Default: Infinity.

        });
      }
    });
  });

  $('.datepicker').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,

        // The title label to use for the month nav buttons
        labelMonthNext: 'Mes siguiente',
        labelMonthPrev: 'Mes anterior',

        // The title label to use for the dropdown selectors
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',

        // Months and weekdays
        monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
        monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
        weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],

        // Materialize modified
        weekdaysLetter: [ 'D', 'L', 'M', 'X', 'J', 'V', 'S' ],

        // Today and clear
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Cerrar',

        format: 'yyyy-mm-dd'
  });