-if @visit
  -if @visit.status != Visit::DELETED
    -if @visit.status.in? [Visit::REQUESTED, Visit::APPROVED, Visit::CONFIRMED]
      .container{style:'margin-top:3rem;'}

        -if @visit.status == Visit::APPROVED
          .row
            .col.s12.m12
              .card
                .card-content
                  .card-title
                    %i.material-icons.left
                      assignment_turned_in
                    Confirmar visita
                  -if @visit.visit_files.where(file_type:VisitFile::INSTITUTION_REQUEST).last && @visit.visit_files.where(file_type:VisitFile::INSURANCE).last
                    .section
                      %p.grey-text.text-darken-2.center Al dar click en "confirmar visita" usted está de acuerdo con las fechas y el itinerario que el CIMAV le ofrece.
                    .row
                      .center
                        =link_to 'Confirmar visita', "/visits/#{@visit.token}/confirm_visit", class:'btn btn-large green', data: { confirm: '¿Desea confirmar la visita?', method:'post'}
                  -else
                    %p.grey-text
                      No se puede confirmar la visita.
                      %br
                      Asegúrese de subir todos los documentos solicitados y dar de alta la lista de asistencia.

        .row
          .col.s12.m12
            .card
              .card-content
                .card-title
                  %i.material-icons.left
                    info_outline
                  Información de la visita
                .row
                  .col.s12.m7
                    %p
                      %b Departamento:
                      = @visit.department.name
                    %p
                      %b Tipo de visita:
                      = @visit.get_visit_type
                    %p
                      %b Institución:
                      = @visit.institution
                    %p
                      %b Carrera o especialidad:
                      = @visit.career
                    %p
                      %b Número aproximado de estudiantes:
                      = @visit.people_approx
                    %p
                      %b Nombre del responsable:
                      = @visit.resp_name
                    %p
                      %b Teléfono del responsable:
                      = @visit.resp_phone
                    %p
                      %b Correo del responsable:
                      = @visit.resp_email
                    %p
                      %b Tipo de transporte:
                      = @visit.get_transport_type
                    %p
                      %b Fecha:
                      = fdate(@visit.date)
                    %p
                      %b Motivo de visita:
                      = @visit.reason

                  .col.s12.m5.center
                    %i.material-icons.center.inline{class:status_color(@visit.status)} lens
                    =@visit.get_status


        .row
          .col.s12.m12
            .card
              .card-content
                .card-title
                  %i.material-icons.left
                    folder_open
                  Documentos para la visita
                %table.bordered.responsive-table
                  %thead
                    %tr
                      %th Estado
                      %th Documento
                      %th
                  %tbody
                    -######################## Solicitud de la institución
                    %tr
                      -file = @visit.visit_files.where(file_type:VisitFile::INSTITUTION_REQUEST).last
                      %td
                        -if file
                          %i.material-icons.green-text check_circle
                        -else
                          %i.material-icons.grey-text.text-lighten-1 check_circle

                      %td
                        =VisitFile::FILE_TYPES[VisitFile::INSTITUTION_REQUEST]
                      %td
                        -if file
                          %i.material-icons.icon-button{onclick:"openInNewTab('#{file.file_url}');"} remove_red_eye
                        -if @visit.status.in? [Visit::REQUESTED, Visit::PRE_APPROVED, Visit::APPROVED]
                          %i.material-icons.icon-button{onclick:"openModal($('#upload_institution_request_modal'));"} cloud_upload
                    -######################## Póliza de seguro
                    %tr
                      -file = @visit.visit_files.where(file_type:VisitFile::INSURANCE).last
                      %td
                        -if file
                          %i.material-icons.green-text check_circle
                        -else
                          %i.material-icons.grey-text.text-lighten-1 check_circle

                      %td
                        =VisitFile::FILE_TYPES[VisitFile::INSURANCE]
                      %td
                        -if file
                          %i.material-icons.icon-button{onclick:"openInNewTab('#{file.file_url}');"} remove_red_eye
                        -if @visit.status.in? [Visit::REQUESTED, Visit::PRE_APPROVED, Visit::APPROVED]
                          %i.material-icons.icon-button{onclick:"openModal($('#upload_insurance_modal'));"} cloud_upload

        .row
          .col.s12.m12
            .card
              .card-content
                .card-title
                  %i.material-icons.left
                    people
                  Lista de asistencia
                .center-align
                  #visit_people_preloader.preloader-wrapper.big.active{style:'display:none;'}
                    .spinner-layer.spinner-blue-only
                      .circle-clipper.left
                        .circle
                      .gap-patch
                        .circle
                      .circle-clipper.right
                        .circle
                #visit_people
                -if @visit.status.in? [Visit::REQUESTED, Visit::PRE_APPROVED, Visit::APPROVED]
                  =form_for @visit.visit_people.new, url: "/visits/#{@visit.id}/add_person", html:{id:'add_people_form', visit_id:@visit.id} do |f|
                    .row#add-person
                      .col.s12.m5.input-field
                        =f.label :name, class:'active'
                        =f.text_field :name
                      .col.s12.m4.input-field
                        =f.label :person_type, class:'active'
                        =f.select :person_type, options_for_select(VisitPerson::PERSON_TYPES.invert)
                      .col.s12.m3
                        %button.btn.btn-large.blue{type:'submit',value:'submit', style:'width:100%;'} Agregar



        .row
          .col.s12.m12
            .card
              .card-content
                .card-title
                  %i.material-icons.left
                    insert_invitation
                  Itinerario
                -if @visit.room_visits.size > 0
                  %table.striped.responsive-table
                    %thead
                      %tr
                        %th
                        %th Laboratorio
                        %th Guía
                        -if @visit.split_in_groups
                          %th Grupo
                        %th Hora
                        %th Estatus
                    %tbody
                      -@visit.room_visits.where.not(status: RoomVisit::CANCELED).order('date ASC').each do |room_visit|
                        %tr
                          %td
                            %img.room-visit-icon.circle{src:"https://cimav.edu.mx/foto/#{room_visit.persona.cuenta_cimav}"}
                          %td
                            =room_visit.room.name
                          %td
                            =room_visit.persona.full_name rescue ''
                          -if @visit.split_in_groups
                            %td
                              =room_visit.group
                          %td
                            =ftime room_visit.date rescue ''
                            -if !room_visit.date.between?('01-01-2000 08:00:00 -0700', '01-01-2000 17:00:00 -0700')
                              %i.material-icons.inline.orange-text.tooltipped{'data-tooltip':'Está fuera del horario de CIMAV'} error_outline
                          %td
                            =room_visit.get_status
                -else
                  %blockquote
                    Aun no hay visitas a laboratorio


        #upload_institution_request_modal.modal
          .modal-content
            .center
              %h5= VisitFile::FILE_TYPES[VisitFile::INSTITUTION_REQUEST]
            =render 'visit_file_form_token', type:VisitFile::INSTITUTION_REQUEST

        #upload_insurance_modal.modal
          .modal-content
            .center
              %h5= VisitFile::FILE_TYPES[VisitFile::INSURANCE]
            =render 'visit_file_form_token', type:VisitFile::INSURANCE

        #edit_visit_person_modal.modal
          .modal-content
            %h4.center Editar Persona
            .center-align
              #edit_visit_person_preloader.preloader-wrapper.big.active
                .spinner-layer.spinner-blue-only
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle

            #edit_visit_person_content




    -else
      %h1.center.red
        Ya no tiene acceso a este enlace
  -else
    %h1.center.red
      No existe el enlace
-else
  %h1.center.red
    No existe el enlace

:javascript
  $(document).ready(function(){
    loadVisitPeople(#{@visit.id}, true);
  });
  $('select').material_select();
  Turbolinks.clearCache();