%h1 Listing visits

%table
  %thead
    %tr
      %th Institution
      %th Departamento
      %th Resp name
      %th Resp phone
      %th Resp email
      %th Transport type
      %th Date
      %th
      %th
      %th

  %tbody
    - @visits.each do |visit|
      %tr
        %td= visit.institution
        %td= visit.department.name
        %td= visit.resp_name
        %td= visit.resp_phone
        %td= visit.resp_email
        %td= visit.transport_type
        %td= fdatetime visit.date
        %td= link_to 'Show', visit
        %td= link_to 'Edit', edit_visit_path(visit)
        %td= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Visit', new_visit_path
