
=form_for @room_visit, url: "/visits/#{@visit.id}/create_room_visit" do |f|
  .row
    .input-field.col.s12
      = f.label :persona_id, class:'active'
      = f.select :persona_id, Persona.all.collect {|p| [p.nombre, p.id]}, {}, id:'new_persona_id'
  .row
    .col.s12
      -rooms = Room.where(department_id: [@visit.department_id,1000])
      -rooms = Room.all if is_admin?
      = f.label :room_id
      = f.select :room_id, rooms.collect {|p| [p.name, p.id]}, {}, id:'new_room_id'
  -if @visit.split_in_groups
    .row
      .col.s12
        = f.label :group
        = f.text_field :group, placeholder:'Por ejemplo: A'
  .row
    .col.s12
      = f.label :date
      = text_field_tag '[room_visit][time]','', class: "timepicker", placeholder:'Selecciona la hora de la visita', required:true
  .section
    .row
      .col.s12
        .right
          =f.submit 'Guardar', class:'btn btn-large green darken-2'


:javascript
  $('#new_room_id').material_select();
  $('#new_persona_id').select2();
  $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: true, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
  $('.timepicker').on('mousedown',function(event){
    event.preventDefault();
  })
