:css
  body{
      background-color: #fff;
    }
  input[name="visit[date]"]:focus.invalid~label:after,
  input[name="visit[date]"].invalid~label:after {
    content 'Selecciona una fecha';
    color: #F44336;
    opacity: 1;
  }
  input[name="visit[date]"]:focus~label:after,
  input[name="visit[date]"]~label:after {
    display: block;
    content: "";
    position: absolute;
    top: 36px;
    opacity: 0;
    white-space: pre;
    transition: .2s opacity ease-out, .2s color ease-out;
  }



= form_for @visit, url:"/public_create_visit" do |f|
  .section
    .row
      .col.s12.m12.l6.input-field
        = f.label :institution
        = f.text_field :institution, required:true, autocomplete:"off", class:'autocomplete'
      .col.s12.m12.l6.input-field
        = f.label :career
        = f.text_field :career, required:true

  .section
    .row
      .input-field.col.s12.m3
        = f.label :resp_name
        = f.text_field :resp_name, required:true
      .input-field.col.s12.m3
        = f.label :resp_phone
        = f.text_field :resp_phone, required:true
      .input-field.col.s12.m3
        = f.text_field :resp_email, type:'email', required:true, class:'validate'
        = f.label :resp_email, 'data-error':"Invalido", 'data-success':"Correcto"
      .input-field.col.s12.m3
        = f.label :people_approx
        = f.number_field :people_approx, required:true
  .section
    .row
      .col.s12.m4
        = f.label :department_id, 'Departamento a visitar', class:'active'
        = f.collection_select :department_id, Department.all, :id,:name
      .col.s12.m4
        = f.label :date, 'Fecha sugerida'
        = f.text_field :date ,class: "datepicker", placeholder:'Selecciona la fecha de la visita', required:true
        -# col.s12.m4
          = f.label :transport_type
          = f.select :transport_type, Visit::TRANSPORT_TYPES.invert

        = f.hidden_field :visit_type, value: Visit::TOUR

  .section
    .row
      .col.s12
        =f.label :reason
        =f.text_area :reason, class:'materialize-textarea', placeholder:'Aquí puede especificar los laboratorios que desea visitar, así como los motivos y requerimientos de su visita'

  .section
    .row
      .col.s12
        .right
          =f.submit 'Solicitar', class:'btn btn-large purple'
:javascript
   $(document).ready(function(){
    $('select').material_select();
    $.ajax({
      url: "/get_institutions",
      cache: true,
      success: function(data){
        $('input.autocomplete').autocomplete({
          data: data,
          onAutocomplete: function(val) {
            //autoCompleteEmail(val);
          },
           limit: 10 // The max amount of results that can be shown at once. Default: Infinity.

        });
      }
    });
  });

  $('.datepicker').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,

        // The title label to use for the month nav buttons
        labelMonthNext: 'Mes siguiente',
        labelMonthPrev: 'Mes anterior',

        // The title label to use for the dropdown selectors
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',

        // Months and weekdays
        monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
        monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
        weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],

        // Materialize modified
        weekdaysLetter: [ 'D', 'L', 'M', 'X', 'J', 'V', 'S' ],

        // Today and clear
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Cerrar',

        format: 'yyyy-mm-dd',
        //min: new Date(new Date().getTime()+604800000), // No se permite seleccionar fechas menores a 7 días
	min: new Date(new Date().getTime()+86400000), // Por la visitas virtuales es 1 día
        disable: [
          1 //, 2, 3, 4, 5, 7
        ]
  });

  $('form').submit(function() {
    if (!checkDate())
      return false;
  });
  function checkDate() {
    if ($('#visit_date').val() == '') {
      $('#visit_date').addClass('invalid');
      return false;
    } else {
      $('#visit_date').removeClass('invalid');
      return true;
    }
  }

  $('.datepicker').on('mousedown',function(event){
    event.preventDefault();
  })
