%p#notice= notice

%p
  %b Departamento:
  = @visit.department.name
%p
  %b Institución:
  = @visit.institution
%p
  %b Resp name:
  = @visit.resp_name
%p
  %b Resp phone:
  = @visit.resp_phone
%p
  %b Resp email:
  = @visit.resp_email
%p
  %b Transport type:
  = @visit.get_transport_type
%p
  %b Date:
  = fdate(@visit.date)
%p
  %b Time:
  =ftime(@visit.date)

= link_to 'Edit', edit_visit_path(@visit)
\|
= link_to 'Back', visits_path
