%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to root_path, class:'breadcrumb' do
          Visitas
        %a.breadcrumb{}
          =@visit.institution

%p
  %b Departamento:
  = @visit.department.name
%p
  %b Institución:
  = @visit.institution
%p
  %b Resp name:
  = @visit.resp_name
%p
  %b Resp phone:
  = @visit.resp_phone
%p
  %b Resp email:
  = @visit.resp_email
%p
  %b Transport type:
  = @visit.get_transport_type
%p
  %b Date:
  = fdate(@visit.date)
%p
  %b Time:
  =ftime(@visit.date)

= link_to 'Edit', edit_visit_path(@visit)
\|
= link_to 'Back', visits_path

.row
  .col.s12.m12
    .card
      .card-content
        .card-title
          Visita a laboratorios
          %button.btn-floating.green.darken-2.tooltipped.right{'data-tooltip':'Solicitar nueva beca','data-position':'right'}
            %i.material-icons.left
              add
            Solicitar nueva beca
        -if @room_visits.size > 0
          %tablebordered.highlight.responsive-table
            %thead
              %tr
                %th Laboratorio
                %th Guía
                %th Hora
                %th Estatus
            %tbody
              -@room_visits.each do |room_visit|
                %tr.tr-click{href:"/room_visits/#{room_visit.id}"}
                  %td
                    =room_visit.room.name
                  %td
                    =room_visit.persona.full_name rescue ''
                  %td
                    =ftime room_visit.date rescue ''
                  %td
                    =room_visit.get_status
        -else
          %blockquote
            Aun no hay becas


:javascript
  Turbolinks.clearCache();