= form_for @room do |f|
  .row
    .input-field.col.s12.m6
      = f.label :name
      = f.text_field :name
    .input-field.col.s12.m6
      = f.label :department_id, class:'active'
      = f.collection_select :department_id, Department.all, :id,:name
  .row.right
    = f.submit 'Guardar', class:'btn green'
:javascript
  $('select').material_select();