%h1 Lista de laboratorios

%table.striped
  %thead
    %tr
      %th Nombre
      %th Departamento
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.department.name
        %td
          = link_to edit_room_path(room), class:'btn-floating tooltipped blue', 'data-tooltip':'Editar', 'data-delay': 30 do
            %i.material-icons edit
        %td
          = link_to  room, method: :delete, class:'btn-floating tooltipped red', 'data-tooltip':'Eliminar', 'data-delay': 30, data: { confirm: 'Are you sure?' } do
            %i.material-icons delete

%br

= link_to  new_room_path, class:'btn-large purple' do
  %i.material-icons.left
    add
  Nuevo laboratorio
