!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Visitas
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.10/css/all.css", :integrity => "sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :integrity => "sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"}
    / Let browser know website is optimized for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/


  %body

    -if session[:is_super_user]
      %ul#changeUserDropdown.dropdown-content
        -User.all.each do |user|
          %li
            %a{href:"/change_user/#{user.id}"}=user.name

    %nav.custom-navbar
      .nav-wrapper
        %a.brand-logo{:href => "/", 'data-turbolinks':"false"} Visitas
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
          %i.material-icons menu

        %ul.right.hide-on-med-and-down
          %li{class:"#{active_class('/visits')} #{'active' if request.path.eql?'/'}"}
            %a{:href => "/visits", 'data-turbolinks':"false"}
              Visitas
              -if is_admin?
                -if Visit.where(status: Visit::REQUESTED).size > 0
                  %span.new.badge.pink{'data-badge-caption':"solicitudes"}
                    =Visit.where(status: Visit::REQUESTED).size
              -else
                -if Visit.where(status: Visit::REQUESTED).where(department_id: current_user.departments).size > 0
                  %span.new.badge.pink{'data-badge-caption':"solicitudes"}
                    =Visit.where(status: Visit::REQUESTED).where(department_id: current_user.departments).size
          -if is_admin?
            %li{class:"#{active_class('/departments')}"}
              %a{:href => "/departments"} Departamentos
            %li{class:"#{active_class('/rooms')}"}
              %a{:href => "/rooms"} Laboratorios
            -if super_user?
              %li{class:"#{active_class('/users')}"}
                %a{:href => "/users"} Usuarios
          -if session[:is_super_user]
            %li
              %a.dropdown-button{href:'#', 'data-activates':'changeUserDropdown'}
                Ver como otro usuario
                %i.material-icons.right arrow_drop_down
          %li.tooltipped{'data-tooltip':'Cerrar sesión'}
            %a{:href => "/logout"}
              %i.material-icons.right
                exit_to_app
        %ul#mobile-demo.side-nav
          %li
            %a{:href => "/visits", "data-no-turbolink" => false} Visitas
          %li
            %a{:href => "/departments"} Departamentos
          %li
            %a{:href => "/rooms"} Laboratorios
          %li
            %a{:href => "/logout"}
              Cerrar sesión
              %i.material-icons.right
                exit_to_app


    .container{style:'margin-top:3rem;'}
      = yield

/ Mensajes
-if flash[:alert]
  -flash[:alert].each do |message|
    :javascript
      Materialize.toast("#{message}", 4500, 'orange darken-4')
:javascript
  Materialize.toast("#{notice}", 3000)
